/* Global */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 100px 20px 20px;
  color: #ffffff;
  font-family: Arial, sans-serif;
  background: #1e293b;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

h1 {
  margin-bottom: 25px;
  color: #a6dfe0;
}

.converter {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #a6dfe0;
}

input[type="number"],
select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  background: #334155;
  color: #e0f2f1;
}

input[type="number"]::placeholder {
  color: #94a3b8;
}

button {
  padding: 12px 25px;
  background: #077A7D;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease;
}

button:hover {
  background: #066264;
}

#result {
  margin-top: 25px;
  font-size: 22px;
  font-weight: bold;
  color: #a6dfe0;
}

/* ===== Dark Mode ===== */
html.dark-mode body{
  background: #0f172a;
  color: #cbd5e1;
}

html.dark-mode .container {
  background: #1e293b;
  box-shadow: 0 0 20px rgba(0, 119, 125, 0.7);
}

html.dark-mode h1,
html.dark-mode label,
html.dark-mode #result {
  color: #81e6d9;
}

html.dark-mode input[type="number"],
html.dark-mode select {
  background: #334155;
  color: #cbd5e1;
  border: 1px solid #475569;
}

html.dark-mode button {
  background: #0e8388;
}

html.dark-mode button:hover {
  background: #07666a;
}
