/* Header */

/* Reset & Global */
body {
  font-family: sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 30%, #e0f3ff 45%, #c2e9ff 60%, #a8ddff 75%, #87cefa 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 100px 20px 50px;
}

/* Responsive body padding */
@media (max-width: 768px) {
  body {
    padding: 100px 20px 50px;
  }
}

/* Main Section */
.main-section {
  margin-top: 30px;
}
header {
  background: #5bbef9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  height: 70px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

/* Container inside header */
header .header-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 40px; /* এটা মোবাইলেও কাজ করবে */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  header .header-container {
    padding: 20px;
  }
}
/* Logo */
.logo img {
  height: 40px;
}

/* Toggle Icon */
.menu-toggle {
  font-size: 26px;
  cursor: pointer;
  display: none;
  margin-right: 0;
}

/* Navigation */
.nav-menu {
  display: flex;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-menu ul li a {
  text-decoration: none;
  padding: 10px 18px;
  background-color: #87cefa;
  color: #fff;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.3s;
  display: inline-block;
}

.nav-menu ul li a:hover {
  background-color: #5bbef9;
  transform: translateY(-2px);
}

/* Responsive Header */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    color: black;
    padding-left: 2px !important;
    padding-right: 2px !important;
  }

  .logo img {
    height: 20px;
    margin-left: -35px;
  }

  header {
    padding-left: 0px;
    padding-right: 0px;
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    right: 40px;
    background-color: #fff;
    display: none;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    min-width: 180px;
    padding: 5px;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu ul {
    flex-direction: column;
    padding: 10px 0;
  }

  .nav-menu ul li {
    border-bottom: 1px solid #ddd;
  }

  .nav-menu ul li a {
    padding: 12px 20px;
    display: block;
  }
}
