/* Global */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 100px 20px 20px;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}


h1 {
  margin-bottom: 20px;
}

input[type="date"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  width: 70%;
  margin: 0 auto 15px;
  display: block;
  text-align: center;
}


button {
  padding: 10px 20px;
  background: #077A7D;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background: #066264;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
}
